<div class="container" >
  <div>
    <div >
      <label>Heading</label>
      <input
        type="text"
        class="form-control"
        #accountName>
      <label>Short Description</label>
      <input
        type="text"
        class="form-control"
        #accountData>
      <label>Content</label>
      <input
        type="textarea"
        class="form-control"
        #accountContent>
      <label>Image</label>
      <input
        type="textarea"
        class="form-control"
        #accountImg>
      <label>Author</label>
      <input
        type="textarea"
        class="form-control"
        #accountAuthor>
      <label>URL</label>
      <input
        type="textarea"
        class="form-control"
        #accountUrl>
    </div>
    <button
      (click)="onCreateAccount(accountName.value, accountData.value, accountContent.value,
      accountImg.value, accountAuthor.value, accountUrl.value)">
      Save
    </button>
  </div>
</div>

